/* Mega Menu Styles */
.main-navigation ul, .main-navigation ul li {list-style: none;}
.main-navigation ul {position: relative;}
.main-navigation ul li ul {display: none;}
.main-navigation .sub {display: none;}
.main-navigation .sub ul {display: block;}

#main-navigation .sub ul {
display: block;
}
#main-navigation li .sub-container {
position: absolute;
}
#main-navigation li .sub {
background: #fff; 
padding: 15px; 
border: 1px solid #ccc;
}
#main-navigation li .sub .row {
width: 100%; 
overflow: hidden;
clear: both;
}
#main-navigation li .sub li {
list-style: none; 
float: none; 
width: 370px; 
background:fff;
border-bottom:solid 1px #ccc;
}
#main-navigation strong {display:block;margin-bottom:10px;}
#main-navigation li .sub li.mega-hdr {
margin: 0 10px 10px 0; 
float: left;
}
#main-navigation li .sub li.mega-hdr.last {
margin-right: 0;
}
#main-navigation li .sub a {
background: none;
color: #111;
display: block; 
float: none;
text-decoration: none;
}
#main-navigation li .sub li.mega-hdr a.mega-hdr-a {
margin-bottom: 5px; 
background: #fff; 
text-transform: uppercase; 
font-weight: bold; 
color: #000;
}

#main-navigation .sub li.mega-hdr li a:hover {
background: #fff !important;
}
#main-navigation .sub ul li {
padding-right: 0;
}

#main-navigation li .sub-container.non-mega li {
padding: 0; 
width: 370px; 
margin: 0;
}

#main-navigation li .sub-container.non-mega li a:hover {
background: #fff !important;
}
